<form (ngSubmit) = "Salvar()">

    <br/>
    <h3>{{ titulo }}</h3>

    <label>Código:
        <input type="input" name="idUsuario" size=10 [(ngModel)] = "usuario.idUsuario" disabled> 
    </label><br/><br/>
    
    <label>Nome:
        <input type="input" name="nomeUsuario" size=60 [(ngModel)] = "usuario.nomeUsuario"> 
    </label><br/><br/>

    <label>Nome:
        <input type="input" name="nomeUsuario" size=60 [(ngModel)] = "usuario.nomeUsuario"> 
    </label><br/><br/>

    <label>Nome:
        <input type="input" name="nomeUsuario" size=60 [(ngModel)] = "usuario.nomeUsuario"> 
    </label><br/><br/>

    <label>Nome:
        <input type="input" name="nomeUsuario" size=60 [(ngModel)] = "usuario.nomeUsuario"> 
    </label><br/><br/>

    <label>Nome:
        <input type="input" name="nomeUsuario" size=60 [(ngModel)] = "usuario.nomeUsuario"> 
    </label><br/><br/>
    
    <button type="submit" >Salvar</button>

</form>